body {

  overflow: hidden;

  background: black;

  color: white;

  font-family: sans-serif;

}

#gameNotifications {

  position: fixed;

  top: 20px;
  right: 20px;

  display: flex;

  flex-direction: column;

  gap: 10px;

  z-index: 9999999;

}

.notification {

  padding: 14px 20px;

  border-radius: 16px;

  background:
  rgba(0,0,0,0.85);

  border:
  1px solid
  rgba(255,255,255,0.1);

  animation:
  popup 0.3s ease;

}

@keyframes popup {

  from {

    opacity: 0;

    transform:
    translateY(-20px);

  }

  to {

    opacity: 1;

    transform:
    translateY(0px);

  }

}